{
  "sourceMaps": "inline",
  "retainLines": true,
  "presets": [
    "stage-0",
    [
      "env",
      {
        "node": "6.0.0",
        "browsers": ["last 2 versions"]
      }
    ]
  ],
  "plugins": [
    "lodash",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}